{{#swiper-container navigation=true}}
  {{#each images as |image|}}
    {{#swiper-slide}}
      <img class="ui fluid image" src="{{image.url}}" alt="{{place.title}}" />
    {{/swiper-slide}}
  {{/each}}
{{/swiper-container}}
