<form {{action "submit" on="submit"}} class="ui form">
  <div class="ui stacked secondary segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        {{input value=identification}}
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        {{input value=password type="password"}}
      </div>
    </div>
    <button type="submit" class="ui fluid large teal submit button">Login</button>
  </div>
  {{#if errorMessage}}
    <div class="ui error message">{{errorMessage}}</div>
  {{/if}}
</form>
