<div class="ui items">
  <div class="item">
    {{#link-to "places.view" place.id class="ui small image"}}
      <img src="{{place.attachments.firstObject.url}}" alt="{{place.title}}">
    {{/link-to}}
    <div class="content">
      {{#link-to "places.view" place.id class="header"}}
        {{place.title}}
        {{#if place.isFeatured}}
          <span class="ui blue mini label">
            Featured
          </span>
        {{/if}}
      {{/link-to}}
      <div class="description">
        <p>{{place.shortDescription}}</p>
      </div>
    </div>
  </div>
</div>
