<div class="ui attached inverted stackable medium menu">
  <div class="ui container">
    {{#link-to "index" class="item"}}
      <i class="map icon"></i>
      Map
    {{/link-to}}
    {{#link-to "places.index" class="item"}}
      <i class="grid layout icon"></i>
      List
    {{/link-to}}
    {{#link-to "places.new" class="item"}}
      <i class="add square icon"></i>
      Create
    {{/link-to}}
    <div class="right menu">
      {{#if session.currentUser}}
        <div class="item">
          <img class="ui avatar image" src="{{session.currentUser.avatar}}" />
          <span>{{session.currentUser.username}}</span>
        </div>
        <a {{action "invalidateSession"}} class="item">
          <i class="sign out icon"></i>
          Logout
        </a>
      {{else}}
        {{#link-to "signup" class="item"}}
          <i class="wizard icon"></i>
          Signup
        {{/link-to}}
        {{#link-to "login" class="item"}}
          <i class="sign in icon"></i>
          Login
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
