<div class="ui two column centered doubling stackable grid">
  <div class="column">
    {{image-slider images=place.attachments}}
  </div>
  <div class="column">
    <div class="ui piled segments">
      <div class="ui segment">
        <h3>{{place.title}}</h3>
      </div>
      <div class="ui segment">
        <p class="content">
          {{place.description}}
        </p>
      </div>
      <div class="ui segment">
        <i class="mail icon"></i>
        <a href="mailto:{{place.email}}">{{place.email}}</a>
      </div>
      <div class="ui segment">
        <i class="linkify icon"></i>
        <a href="{{place.website}}">{{place.website}}</a>
      </div>
      <div class="ui segment">
        <i class="marker icon"></i>
        {{place.address}}
      </div>
      <div class="ui segment">
        {{#leaflet-map lat=place.latitude lng=place.longitude zoom=11 zoomControl=false class="mini" as |layers|}}
          {{layers.tile url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
          {{layers.marker lat=place.latitude lng=place.longitude}}
        {{/leaflet-map}}
      </div>
    </div>
  </div>
</div>
