<form class="ui form" {{action "submit" on="submit"}}>

  <div class="field">
    <label>Title</label>
    {{#validated-input model=place valuePath="title" as |value|}}
      {{input value=value}}
    {{/validated-input}}
  </div>

  <div class="field">
    <label>Short Description</label>
    {{#validated-input model=place valuePath="shortDescription" as |value|}}
      {{input value=value}}
    {{/validated-input}}
  </div>

  <div class="field">
    <label>Description</label>
    {{#validated-input model=place valuePath="description" as |value|}}
      {{textarea value=value}}
    {{/validated-input}}
  </div>

  <div class="field">
    <label>Address</label>
    {{#validated-input model=place valuePath="address" as |value|}}
      {{input value=value}}
    {{/validated-input}}
  </div>

  <div class="field">
    <label>Email</label>
    {{#validated-input model=place valuePath="email" as |value|}}
      {{input type="email" value=value}}
    {{/validated-input}}
  </div>

  <div class="field">
    <label>Website</label>
    {{input value=place.website}}
  </div>

  <div class="field">
    <label>Geo position</label>
    {{#leaflet-map lat=50 lng=55 zoom=9 onClick=(action "updatePosition") class="mini" as |layers|}}
      {{layers.tile url="http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
      {{#if place.latitude}}
        {{#layers.marker lat=place.latitude lng=place.longitude draggable=true onDragend=(action "updatePosition")}}
        {{/layers.marker}}
      {{/if}}
    {{/leaflet-map}}
    {{#if (v-get place "latitude" "isInvalid")}}
      <div class="ui warning message">
        Please check placemark on map
      </div>
    {{/if}}
  </div>

  <div class="field">
    <label>Attachments</label>
    {{file-upload onSuccess=(action "addAttachment")}}
  </div>

  <div class="field">
    {{ui-checkbox label="Featured place?" checked=place.isFeatured}}
  </div>

  <button type="submit" class="ui primary button" disabled={{v-get place "isInvalid"}}>Submit Place</button>
</form>
