<div class="ui simple dimmer">
  <div class="ui loader"></div>
</div>
{{search-box onSubmit=(action "applyFilter")}}
{{#leaflet-map lat=lat
               lng=lng
               zoom=zoom
               scrollWheelZoom=false
               doubleClickZoom=false
               onMoveend=(action "update") as |layers|}}
  {{layers.tile url=tiles}}
  {{#each markers as |marker|}}
    {{#layers.marker lat=marker.place.latitude lng=marker.place.longitude opacity=marker.opacity}}
      {{map-popup-content place=marker.place}}
    {{/layers.marker}}
  {{/each}}
{{/leaflet-map}}
