{{#link-to "places.view" place.id class="ui image"}}
  <img src="{{place.attachments.firstObject.url}}">
  {{#if place.isFeatured}}
    <div class="ui blue ribbon label">Featured</div>
  {{/if}}
{{/link-to}}
<div class="content">
  {{#link-to "places.view" place.id class="header"}}
    {{place.title}}
  {{/link-to}}
  <div class="description">
    {{place.shortDescription}}
  </div>
</div>
<div class="extra content">
  <span>
    {{like-toggle likes=place.likes}}
  </span>
</div>
