

<div class="ui raised segment">
  <form {{action "submit" query on="submit"}}>
    <div class="ui icon input">
      {{input value=query placeholder="Search..."}}
      {{#if query}}
        <i class="link remove icon" onclick={{action "clear"}}></i>
      {{/if}}
    </div>
  </form>
</div>
