<form {{action "submit" on="submit"}} class="ui form">
  <div class="ui stacked secondary segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        {{input value=user.username placeholder="Name"}}
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="mail icon"></i>
        {{input type="email" value=user.email placeholder="Email"}}
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        {{input type="password" value=user.password placeholder="Password"}}
      </div>
    </div>
    <button type="submit" class="ui fluid large teal submit button">Login</button>
  </div>
  {{#if errorMessage}}
    <div class="ui error message">{{errorMessage}}</div>
  {{/if}}
</form>
