<div class="ui icon input">
  {{yield value}}
</div>

{{#if showErrorMessage}}
  <div class="ui negative message">
    {{v-get model valuePath "message"}}
  </div>
{{/if}}

{{#if showWarningMessage}}
  <div class="ui warning message">
    {{v-get model valuePath "warningMessage"}}
  </div>
{{/if}}
