.main.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.centered.grid {
  align-items: center;
}

.footer.segment {
  padding: 3rem 0;
}

.leaflet-container {
  height: 500px;
}

.leaflet-container.mini {
  height: 250px;
}

.search-box {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}
