<h3>Places</h3>
{{places-grid places=model}}
{{#infinity-loader infinityModel=model}}
  <div class="ui basic padded segment">
    <div class="ui active centered inline loader"></div>
  </div>
{{/infinity-loader}}
