{{places-map lat=lat lng=lng zoom=zoom places=places loading=loading onUpdate=(action "updatePosition")}}

<div class="ui main container">
  <div class="ui basic segment">
    <h2 class="ui center aligned header">Popular on Map</h2>
  </div>
  {{#if featured}}
    {{places-grid places=featured limit=8}}
  {{else}}
    <div class="ui info message">
      No items for now. Try to search more.
    </div>
  {{/if}}
</div>
