<div class="ui center aligned stackable grid container">
  <div class="column six wide form-holder">
    <div class="ui basic segment">
      <h2 class="center aligned header form-head">Sign in</h2>
    </div>
    {{login-form user=model login=(route-action "login") errorMessage=errorMessage}}
    <div class="ui message">
      New to us?
      {{#link-to "signup"}}Register{{/link-to}}
    </div>
  </div>
</div>
