<div class="ui center aligned stackable grid container">
  <div class="column six wide form-holder">
    <div class="ui basic segment">
      <h2 class="center aligned header form-head">Sign up</h2>
    </div>
    {{signup-form user=model signup=(route-action "signup") errorMessage=errorMessage}}
    <div class="ui message">
      Already registered?
      {{#link-to "login"}}Sign in{{/link-to}}
    </div>
  </div>
</div>
